fastapi
uvicorn[standard]
streamlit
requests
python-dotenv

langchain
langchain-community
langchain-huggingface
langchain-google-genai

langchain-postgres
psycopg[binary]

pydantic
sentence-transformers
psycopg2-binary
